<div class="startPgBg">
  <div class="startPage">
    <div class="wow bounceInDown shake">IN CAMPUS</div>
    <button type="button" class="Startlogin wow slideInLeft btn btn-primary" routerLink="/log-in">LogIn</button>
    <button type="button" class="startSignUp wow slideInRight btn btn-primary" routerLink="/sign-up">SignUp</button>
    <div class="wow bounceInDown"><div class="skipLogIn wow heartBeat" data-wow-duration="4s" data-wow-delay="3s" routerLink="/home"><span>Skip This</span></div></div>
  </div>

</div>